@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Staatliches&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: Outfit;
}

@theme {
    --color-aero: hsla(192, 64%, 55%, 1);
    --color-jungle-green: hsla(165, 55%, 45%, 1);
    --color-mint-green: hsla(166, 50%, 87%, 1);
    --color-black: hsla(120, 100%, 0%, 1);
    --color-emerald: hsla(133, 48%, 56%, 1)

    
}

.active hr{
        @apply block
}

::-webkit-scrollbar {
    @apply hidden
}


